<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--
    Entorno:
    0: Desarrollo
    1: Test
    2: Producción
    -->
    <add key="Entorno" value="0" />
    <!--cadena de conexion encriptada -->
    <add key="DB_CONNECTION" value="zj1+ENZE5UJmdxfLGiaZQczpP4IRNssXf70KmzFxKmqg/O+URJ1h6B4Lf+ZtIMtwgY1jJq+kzk10RoISWLxxI0Em7eNpnhPsS3kXSyAZ+SPaT/yAxUX7ZO6C67kqUQTWWeQA0GJtRR8RaIPFCNhb/WBSzb9fnsWUJ3Y6wP5Nze5+5pTE8voLVw+0Non4R/a6PN+zDq0Ex7eRhjZAhqoOQ2/tM+7uUOt5Ko3bQToEK0oVoNQWVmFEABy0U0FXCJS1WtRTLAJclvmVS9dIWlcEFTufNaaF9/B+uA0wFlmricrYeOogc8Hxky5aSJiXysqUYaav9bTPUi2pLnEXo5uj9tqbXh25wje64fg/oEIGfoMrBjNcTnMvh6riJVu9FoWWlNsn4+7oATND/yumngwBdiRmtwLiVuKFju9EUj2cex0Lm9AaQ+2l0V5XcVCa40HoZr0ATdinioVYsLVsP6YAE0Kx5aEyOYj6An4+qvt4m90bP+MmpcJBkqpmnjAXt9jzsnqrD5D1qyLo2/TLlSF/3ufyFWIhoyRueFWApKZgCbMG8c8NuQCZB7+juI6CP7/KaHaI38ytjxt+n40e8akBag/JPOWgqD9bBkziH2OfugQNnaVJ/GzpcKTNvnyTp/LI9JTz9Fl3PGm66T/krYhjn0cYO0DM0/2Bh5ypk0sxS7X+cSqOTj8XZ1rZ/E83YTo2v0wCZ3snrFPqdad4oDlOCh01hJbhybT11OxH+qDWKL/nlGRFBD8hLVNZkjAif/4Tq2eNGO2Dj8BpAA5OvnK3F5j+XxfZE2NIYnCoM0OUfcdHPGGH4kd35kurOTNDlxfTBppJGPKPY0ilqeciGgolktn9mHDmez4CJy4x1aSzWX+/ILSuY7e24q6WcaLaT3yYspD7ey+Llw7XdTs8sWf5Sw==" />
    <!--
    <add key="DB_CONNECTION" value="zj1+ENZE5UJmdxfLGiaZQczpP4IRNssXf70KmzFxKmqg/O+URJ1h6B4Lf+ZtIMtwgY1jJq+kzk10RoISWLxxI0Em7eNpnhPsS3kXSyAZ+SPaT/yAxUX7ZO6C67kqUQTWWeQA0GJtRR8RaIPFCNhb/WBSzb9fnsWUJ3Y6wP5Nze5+5pTE8voLVw+0Non4R/a6PN+zDq0Ex7eRhjZAhqoOQ2/tM+7uUOt5Ko3bQToEK0oVoNQWVmFEABy0U0FXCJS1WtRTLAJclvmVS9dIWlcEFTufNaaF9/B+uA0wFlmricrYeOogc8Hxky5aSJiXysqUYaav9bTPUi2pLnEXo5uj9tqbXh25wje64fg/oEIGfoMrBjNcTnMvh6riJVu9FoWW87qqyGiJXJEiPxqBIsSyBWwJ9Wg/Ty7EWPFuwwIPng52ZiIh69Io29bssXWE+ob7Ibuo1HUZTCOkHbrx9KEVT9Rv1ltKcZ52Q0g46uWpNH+Qvq3H9TPImzHGXjKICQghSA8I5e5qb9f/kcxkGVNuZ8I1COX/wDz2H6/fb7wRWm+9uNe3cIS92zEB2t0E4gMJTTt/+1QDwPPOXJ9E2TNHSnZV0pC4jgORO6vBzX37Sn/w6J0iB8tSnPtMwpLlimZSHpQlaQW65Q3ZbDEosdOC6SFHOyHaJuahl08FBKyHTw7Ze7ZjYY44Oj2aa+1iqeMyFEmARFpThVlez5MQHyGaXJrAv/LWA/vn50Gz1f7If4Q9krVxZoVMCimrBD6POYj1pQEBwad/3YcGQS3hmuU+wT/cQ/qWfINSK7cwHvGcx3G3ucA8IpvwZz+VTaUWcIgl"/>  
    -->
  </appSettings>
  <connectionStrings>
    <add name="DB_CONNECTION_SQL_EVOLUCION" connectionString="1P2ba2g+V3r0AkLZIKhzcF/3KuRRVw1zfzyPsh6DR8P4i8/rKCF7VRlqKdXojiKiKZAhBaUMJp2IUfsNL0xgjXJd/v5On84wO87Ql8+J32qOkkmFYme/vyOJBywluaum6qVumhwtaLHt3P2QCa1+RezzE3a0+k9qlwQntK8H7He4GFPuA3hNOREGDkrRU8a4IK4tyTGXpySCEjUMCgXwJnbgO0XHlrU1ULIsbyUPhKyf5betBjdoargLXQGdRBYPddqJOZMuIqs6v5ZYgGt1w9w62iBCv3r1GSKTOsSVfbd9KW4WDaBYfoq83ZI3FCU0LHGueZEdSXlmW7XyPeH5WtnBxHxRN0uHeoQ+TyEagM3tcZ8fazynfXfj0dGKeD+Na1NIfpRfF3eox/dMIp20Qw==" />
    <add name="DB_CONNECTION_DEV" connectionString="1P2ba2g+V3r0AkLZIKhzcF/3KuRRVw1zfzyPsh6DR8N556ubqCPiG0hfPx+zr2FIzJE+TvsNCGPvNSYdnt7qO5CwxOSwDk9ekIty8q7s7A4OL3J+BkdWd/aVdm7RtervFLfhWO8ibROnIpwwWAb9U7S/QxNhRVgHdWBHbNCW7P2g6kkxhdx0VFrcjbOQq9e+QX6tQ2lbP01Bl1lh2m4ChekT2mWjy2l+B7zRCImhNZ7QBXdoqE+VnXJ0M95lJP+fVFvPck6dF0gQqNiWFKPDF7XSx8sHzFWFEjmlgSGLDu3inpMIpOFvfLNV/HVUdx21IXsNOy+Nx3z4xszd4bh5o5+cAI9UN5+9/9gu89ORFs4R5opomLCO/70qT6Mr3tcodVtOLDe1bNS3ZG3Cku7DFkjZ8uX45m1rQOflLfxnEgA=" />
    <add name="DB_CONNECTION_TEST" connectionString="1P2ba2g+V3r0AkLZIKhzcF/3KuRRVw1zfzyPsh6DR8N556ubqCPiG0hfPx+zr2FIzJE+TvsNCGPvNSYdnt7qO5CwxOSwDk9ekIty8q7s7A4OL3J+BkdWd/aVdm7RtervFLfhWO8ibROnIpwwWAb9U7S/QxNhRVgHdWBHbNCW7P2g6kkxhdx0VFrcjbOQq9e+QX6tQ2lbP01Bl1lh2m4ChekT2mWjy2l+B7zRCImhNZ7QBXdoqE+VnXJ0M95lJP+f97Icm1ZtpQaLJuPLl7phEI8cnz4mSvn0ZrJIb1/Pxy36FtN+Y9tl9O7U6dWJrqP/Dw5TjcfKwFhvp7O2OVZOCzJGWYJHQhzi+WZhE+oDo5yC24ze+WHDsQ1GbnuNTzTkrXykXtab56CleXNs9dYlosMufoOexk0wt6Z9fG+utE4GOBQx6A68gi7deDXdn2eJ" />
    <add name="DB_CONNECTION_PROD" connectionString="" />
  </connectionStrings>
  <system.web>
    <globalization uiCulture="es" culture="es-CO" />
    <authentication mode="None" />
    <compilation targetFramework="4.5">
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
        <!-- Allows for routing everything to ~/index.html -->
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWSCartera" />
        <binding name="BasicHttpsBinding_IWSCartera">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_ISupercatch" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://evolution02.nh.inet/wcf_DBCART/WSCartera.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSCartera" contract="CarteraClientesCorp.IWSCartera" name="BasicHttpBinding_IWSCartera" />
      <endpoint address="https://nlbevolution/wcf_DBCART/WSCartera.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IWSCartera" contract="CarteraClientesCorp.IWSCartera" name="BasicHttpsBinding_IWSCartera" />
      <endpoint address="http://evolution02.nh.inet/WS_Captcha/SuperCapcha.CaptchaEt.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISupercatch" contract="CaptchaSer.ISupercatch" name="BasicHttpBinding_ISupercatch" />
    </client>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: 64932B88-3C24-4F86-9D38-0700D2B692A9-->